<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <figure class="figure">
                <img src="<%=user.avatar%>" class="figure-img img-fluid rounded" alt="user image">
                <figcaption class="figure-caption text-right">
                    <%= user.firstName + " " + user.lastName%>
                </figcaption>
                <figcaption class="figure-caption text-right">
                    <%= user.email %>
                </figcaption>
            </figure>
            <p>
                <%=user.info%>
            </p>
            <a href="/forgot">Change password <i class="fas fa-edit"></i></a>
        </div>
        <div class="col-md-9">
            <div class="col">
                <h1 style="text-align: center">Edit profile</h1>
                <div class="col-md-10 col-lg-10 col-xl-12" style="margin: 25px auto;">
                    <form action="/profile/<%=user.id%>?_method=PUT" method="POST">
                        <label for="username">Username:</label>
                        <div class="form-group">
                            <input class="form-control" type="text" name="username" value="<%=user.username%>" disabled>
                        </div>
                        <label for="first">First name:</label>
                        <div class="form-group">
                            <input class="form-control" type="text" name="user[firstName]" value="<%=user.firstName%>" required>
                        </div>
                        <label for="last">Last name:</label>
                        <div class="form-group">
                            <input class="form-control" type="text" name="user[lastName]" value="<%=user.lastName%>" required>
                        </div>
                        <label for="email">Email:</label>
                        <div class="form-group">
                            <input class="form-control" type="email" name="user[email]" value="<%=user.email%>" required>
                        </div>
                        <label for="avatar">Avatar Image Url:</label>
                        <div class="form-group">
                            <input class="form-control" type="text" name="user[avatar]" value="<%=user.avatar%>" required>
                        </div>
                        <label for="adminCode">Info about yourself:</label>
                        <div class="form-group">
                            <textarea class="form-control" name="user[info]"><%=user.info%></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Save change!</button>
                        </div>
                    </form>
                    <a href="/profile/<%=user.id%>">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") %>